.carta{
    background-color: #082032!important;
    border-radius: 20px;
    background-image: linear-gradient(to bottom,#000000, #79767641);

}
.textos{
    color: #FF4C29;
    font-size: larger!important;
}
.imagenes{
    width: 90%!important;
    border-radius: 15px!important;
}
.botonCards{
    color: #FF4C29!important;
}