.aplicacion{
    background-color: #334756!important;
}
.card{
    background-color: #334756!important;
    border: none!important;
}
.texto{
    color: #FF4C29;
    border-radius: 20px;
}
.text{
    color: #FF4C29;
}
.iconoCards{
    color: #FF4C29;
    font-size: 110%;
}
.logitudDeLaPag{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}
.fondo{
    padding-left: 10px;
    color: #FF4C29;
    font-size: 200%;
}
.fondo:hover{
    opacity: 90%!important;
}
.color{
background-color: #082032;
}
.letra p{
    color: #FF4C29!important;
    font-size: large;
}
.letra p:hover{
    opacity: 90%!important;
}
.carritos{
    padding-left: 10px;
    font-size: 200%;
    color: #FF4C29;
}
.lupita{
    color: #FF4C29;
    font-size: 150%;
}
@media only screen and (min-width: 600px){
    .imagenesProductoIndividual{

        height: 400px!important;
        width: 600px!important;
    }
}
@media only screen and (max-width: 600px) {
    .imagenesProductoIndividual{

        height: 200px!important;
        width: 300px!important;
    }
}

